
*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.mainContainer {
    background-color: #f2f2f2;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

main {
    display: block;
}
