
.pagination {
    right: 15%;
    top: 20%;
    position: absolute;
    transition: transform 1000ms ease, opacity 1000ms ease;
    opacity: 0;
    transform: rotate(-90deg);

    @media (max-width: 1024px) {
      top: 25px;
      right: 25px;
    }
}

.loaded {
    .pagination {
        opacity: 1;
    }
}

.currentPage {
     display: inline-block;
     line-height: 1;
     font-size: 1em;
     width: .68em;
}

.pageNumber {
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    &:before {
       content: "";
       display: inline-block;
       width: 15px;
       height: 1px;
       vertical-align: middle;
       margin: 0 5px 0 0;
       background-color: #000;
    }
}

.pagePlaceholder {
     width: 100%;
     display: block;
     font-size: 1em;
     letter-spacing: 0.15em;
}
