
.pagination {
    right: 15%;
    top: 20%;
    position: absolute;
    transition: transform 1000ms ease, opacity 1000ms ease;
    opacity: 0;
    transform: rotate(-90deg) translateY(100px);
}

.loaded {
    .pagination {
        opacity: 1;
        transform: rotate(-90deg) translateX(0);
    }
}

.currentPage {
    display: inline-block;
    line-height: 1;
    font-size: 1em;
    &:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 1px;
        vertical-align: middle;
        margin: 0 5px;
        background-color: #000;
    }
}

.pageNumber {
    font-size: 1em;
    line-height: 1;
    display: inline-block;
}

.pagePlaceholder {
    display: block;
    font-size: 1em;
    letter-spacing: 0.12em;
}
