.section {
    position: absolute;
    height: 60vh;
    width: 80%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    min-height: 350px;
    max-height: 90%;
    transform: translate3d(-50%, -200%, 0);
    transition: transform 1000ms ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    will-change: transform;
    &.active {
        transform: translate3d(-50%, -50%, 0);
        ~ .section {
            transform: translate3d(-50%, 200%, 0);
        }
    }

}

// animate inner section
.section.active {
    .sectionQuote {
        opacity: 1;
        transform: scaleX(1);
    }
    .rightContent {
        opacity: 1;
        transform: translateX(0px);
    }
}

.sectionInner {
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    header {
        width: 100%;
    }

    h1 {
        color: #333;
        font-size: 2em;
    }

    p {
        color: #333;
    }


    .rightContent {
        margin-left: 50%;
        text-align: left;
        width: 100%;
        opacity: 0;
        transform: translateX(-200px);
        will-change: transform;
        transition: transform 1500ms ease, opacity 2500ms ease;
        @media (max-width: 640px) {
          margin-left: 0;
        }
    }

    @media (max-width: 640px) {
      padding: 25px;
    }
}

.sectionPlaceholder {
    position: absolute;
    white-space: nowrap;
    top: 60%;
    margin: 0;
    font-size: 2em;
    left: -100px;
    width: 0px;
    transform: rotate(-90deg) translate3d(0,-50%,0);
    color: #333;
    @media (max-width: 840px) {
      top: -70px;
      width: auto;
      left: 50%;
      transform: rotate(0) translate3d(-50%,0,0);
    }
}

.sectionQuote {
    will-change: opacity;
    position: absolute;
    bottom: 0px;
    right: -50%;
    width: 90%;
    padding-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    text-align: right;
    color: #555;
    font-size: 1em;
    opacity: 0;
    margin: 0;
    transform: scaleX(.8);
    transition: opacity 2s ease, transform 1s linear;
    p {
      font-weight: bold;
    }
    &:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(90deg, #fff, #000);
    }
    .writer {
        line-height: 1;
        color: #000;
        font-weight: 800;
        &:before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 2px;
            vertical-align: middle;
            margin: 0 5px;
            background-color: #333;
        }
    }
    @media (max-width: 1024px) {
      right: -25%;
    }
    @media (max-width: 640px) {
      right: 5%;
    }
}
