h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 5em;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1em;
}
