//- base_layout.pug

doctype html
html(lang="en-us")
	head
		title VICHAS DOT ORG

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")

		include ../inc/_styles.pug
	

	body

		main.mainContainer
			block content

		include ../inc/_scripts.pug
