extends ./inc/base_layout.pug

block content

    .pagination
        span.currentPage 1
        span.pageNumber 0
        span.pagePlaceholder PAGE
        
    .sectionsWrapper
        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    header
                        h1 STEFANOS <br/> VICHAS
                    p I'am a programmer/student based in Greece, athens. 
            
            blockquote.sectionQuote
                p I can and i will. Watch me.
                footer
                    p.writer CARLIE GREEN



        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    header
                        h2 sect 2
                    p I'am a programmer/student based in Greece, athens. 
            
            blockquote.sectionQuote
                p I can and i will. Watch me.
                footer
                    p.writer CARLIE GREEN


        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    header
                        h2 sect 3
                    p lorem lorem
            
            blockquote.sectionQuote
                p I can and i will. Watch me.
                footer
                    p.writer CARLIE GREEN
