extends ./inc/base_layout.pug

block content

    .legal <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.

    .pagination
        span.currentPage 1
        span.pageNumber 0
        span.pagePlaceholder PAGE

    button.scrollIndicator

    .sections_wrapper

        section.section

            h2.section_placeholder Summary

            .section_inner
                .content_right
                    h1 STEFANOS VICHAS
                    p Hello and welcome to my personal website. I’m a web developer based in Athens, Greece and currently working full-time as a front-end developer.

            blockquote
                p SUCCESS IS WALKING FROM FAILURE TO FAILURE WITHOUT LOSS OF ENTHUSIASM.
                footer
                    p.writer WINSTON CHURCHILL



        section.section
            h2.section_placeholder Open source

            .section_inner
                p I mostly create tools related to the web. I value scalability, clear and clean code and performance. Some projects I maintain include <a href="https://github.com/svichas/essentials.css" rel="external nofollow noreferrer">essentials.css</a>, <a href="https://github.com/svichas/Transfiguration" rel="external nofollow noreferrer">Transfiguration</a> and <a href="https://github.com/svichas/CSSPerformace" rel="external nofollow noreferrer">CSSPerformace</a>.

            blockquote
                p IN OPEN SOURCE, WE FEEL STRONGLY THAT TO REALLY DO SOMETHING WELL, YOU HAVE TO GET A LOT OF PEOPLE INVOLVED.
                footer
                    p.writer LINUS TORVALDS


        section.section

            h2.section_placeholder Interests

            .section_inner
                p Apart from programming, I’m super passionate about running, movies, technology, open source and AI. Yes I know, I'm a huge geek.

            blockquote
                p IF YOU ALWAYS DO WHAT INTERESTS YOU, AT LEAST ONE PERSON IS PLEASED.
                footer
                    p.writer KATHARINE HEPBURN


        section.section

            h2.section_placeholder Social & Contact

            .section_inner
                p Thanks for taking a look at my small personal website. Also take a moment to check out my social media linked below.

                ul.socials
                    li
                         a(href="https://www.linkedin.com/in/stefanos-vichas-7445b417a/", rel="external nofollow noreferrer", target="_blank")
                              img(src="storage/imgbin/linkedin.svg", alt="Linkedin account")
                    li
                         a(href="https://github.com/svichas", rel="external nofollow noreferrer", target="_blank")
                              img(src="storage/imgbin/github.svg", alt="Github account")
                    li
                         a(href="https://www.instagram.com/stefanosvichas/", rel="external nofollow noreferrer", target="_blank")
                              img(src="storage/imgbin/instagram.svg", alt="Instagram account")
                    li
                         a(href="mailto:stefanos@vichas.org", rel="external nofollow noreferrer", target="_blank")
                              img(src="storage/imgbin/mail.svg", alt="Email")



            blockquote
                p I CAN AND I WILL. WATCH ME.
                footer
                    p.writer CARLIE GREEN
