html
	head

		title vichas dot org

		// Meta tags
		meta(charset='UTF-8')
		meta(name='author',content='Stefanos Vichas')
		meta(name='description',content='Stefanos is a developer and student based in Greece, athens.')
		meta(name='viewport',content='width=device-width, initial-scale=1')
		
		// Link stylesheets
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900",rel="stylesheet")
		link(href="storage/cssbin/essentials.min.css",rel="stylesheet")
		link(href="storage/cssbin/vichas_flavored.master.css",rel="stylesheet")

	body

		.container
			.main-wrapper
				.main-wrapper-inner
				
					.center
						.text-holder
							h2 Stefanos Vichas

					.row.main-content
						.col-md-6.col-sm-8.col-xs-12
							.stat-row
								p.label-text Born 
									small (d-m-Y)
								h1.caption 15.01.2018
						.col-md-6.col-sm-4.col-xs-12
							img(src="storage/image/12978171.jpg", alt="Stefanos image", class="fetuare-image")
				

					footer.copyright
						p &copy; Stefanos Vichas 
							a(href="") MIT LICENSE


		


	

			