extends ./inc/base_layout.pug

block content

    .pagination
        span.currentPage 1
        span.pageNumber 0
        span.pagePlaceholder PAGE
        
    .sectionsWrapper
        
        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    header
                        h1 STEFANOS <br/> VICHAS
                    p I'am a web developer based in Athens, Greece. Currently working as a front-end developer at <a href="https://atcom.gr/">ATCOM</a>, a leading digital agancy in Greece.
            
            blockquote.sectionQuote
                p I can and i will. Watch me.
                footer
                    p.writer Carlie Green



        section.section
            
            h2.sectionPlaceholder Open source
            
            .sectionInner
                .rightContent
                    header
                        h2 sect 2
                    p I'am a programmer/student based in Greece, athens. 
            
            blockquote.sectionQuote
                p In open source, we feel strongly that to really do something well, you have to get a lot of people involved. 
                footer
                    p.writer Linus Torvalds


        section.section
            
            h2.sectionPlaceholder Social & Conmtact
            
            .sectionInner
                p Thanks for taking a look at my personal website. Also take a moment to check out my social media linked below.
                
                ul.socials
                    li
                        a(href="#") Github
                    li
                        a(href="#") Instagram
                    li
                        a(href="#") stefanos@vichas.org
                        
            
            blockquote.sectionQuote
                p Social media is reducing social barriers. It connects people on the strength of human values, not identities. 

                footer
                    p.writer Narendra Modi
