extends ./inc/base_layout.pug

block content

    .pagination
        span.currentPage 1
        span.pageNumber 0
        span.pagePlaceholder PAGE
        
    span.scrollIndicator
        
    .sectionsWrapper
        
        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    header
                        h1 STEFANOS VICHAS
                    p Hello and welcome to my personal website. I'am a web developer based in Athens, Greece. Currently working as a front-end developer at <a href="https://atcom.gr/" target="_blank">ATCOM</a>.
            
            blockquote.sectionQuote
                p I can and i will. Watch me.
                footer
                    p.writer Carlie Green



        section.section
            h2.sectionPlaceholder Open source
            
            .sectionInner
                .rightContent
                    p 
            
            blockquote.sectionQuote
                p In open source, we feel strongly that to really do something well, you have to get a lot of people involved. 
                footer
                    p.writer Linus Torvalds


        section.section
            
            h2.sectionPlaceholder Interests
            
            .sectionInner
                p  
            
            blockquote.sectionQuote
                p If you always do what interests you, at least one person is pleased. 
                footer
                    p.writer Katharine Hepburn
        

        section.section
            
            h2.sectionPlaceholder Social & Contact
            
            .sectionInner
                p Thanks for taking a look at my personal website. Also take a moment to check out my social media linked below.
                
                ul.socials
                    li
                        a(href="#")
                            img(src="storage/imgbin/github.svg")
                    li
                        a(href="#") 
                            img(src="storage/imgbin/instagram.svg")
                    li
                        a(href="mailto:stefanos@vichas.org")
                            img(src="storage/imgbin/mail.svg")
                            
                        
            
            blockquote.sectionQuote
                p Social media is reducing social barriers. It connects people on the strength of human values, not identities. 

                footer
                    p.writer Narendra Modi
