extends ./inc/base_layout.pug

block content

    p.legal Licensed under <a href="https://raw.githubusercontent.com/svichas/vichas.org/master/LICENSE" target="_blank" rel="external nofollow">MIT License</a>
    
    .pagination
        span.currentPage 1
        span.pageNumber 0
        span.pagePlaceholder PAGE
        
    span.scrollIndicator
        
    .sectionsWrapper
        
        section.section
            
            h2.sectionPlaceholder Summary
            
            .sectionInner
                .rightContent
                    h1 STEFANOS VICHAS
                    p Hello and welcome to my personal website. I’m a web developer based in Athens, Greece and currently working full-time as a front-end developer.
            
            blockquote.sectionQuote
                p SUCCESS IS WALKING FROM FAILURE TO FAILURE WITHOUT LOSS OF ENTHUSIASM.
                footer
                    p.writer WINSTON CHURCHILL



        section.section
            h2.sectionPlaceholder Open source
            
            .sectionInner
                p I mostly create tools related to the web. I value scalability, clear and clean code and performance. Some projects I maintain include <a href="https://github.com/svichas/essentials.css">essentials.css</a>, <a href="https://github.com/svichas/Transfiguration">Transfiguration</a> and <a href="https://github.com/svichas/CSSPerformace">CSSPerformace</a>.
            
            blockquote.sectionQuote
                p IN OPEN SOURCE, WE FEEL STRONGLY THAT TO REALLY DO SOMETHING WELL, YOU HAVE TO GET A LOT OF PEOPLE INVOLVED.
                footer
                    p.writer Linus Torvalds


        section.section
            
            h2.sectionPlaceholder Interests
            
            .sectionInner
                p Apart from programming, I’m super passionate about running, movies, technology, open source and AI. Yes I know, I'm a huge geek.
            
            blockquote.sectionQuote
                p IF YOU ALWAYS DO WHAT INTERESTS YOU, AT LEAST ONE PERSON IS PLEASED.
                footer
                    p.writer Katharine Hepburn
        

        section.section
            
            h2.sectionPlaceholder Social & Contact
            
            .sectionInner
                p Thanks for taking a look at my small personal website. Also take a moment to check out my social media linked below.
                
                ul.socials
                    li
                        a(href="https://github.com/svichas", rel="external nofollow")
                            img(src="storage/imgbin/github.svg", alt="Github account")
                    li
                        a(href="https://www.instagram.com/stefanosvichas/", rel="external nofollow") 
                            img(src="storage/imgbin/instagram.svg", alt="Instagram account")
                    li
                        a(href="mailto:stefanos@vichas.org", rel="external nofollow")
                            img(src="storage/imgbin/mail.svg", alt="Email")
                            
                        
            
            blockquote.sectionQuote
                p I CAN AND I WILL. WATCH ME.
                footer
                    p.writer Carlie Green
